*{
    font-family: sans-serif!important;
}
body{
    padding-top: 5px;
}

#boleto-all{
    /*font-family: Arial,Helvetica, sans-serif;*/
    width: 666px;
    /*border-left: 1px solid #c6c6c6;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    border: 1px solid #c6c6c6;*/
    border-bottom: 1px dotted #c6c6c6;
    display: table;

}

#boleto-left{
    float: left;
    width: 150px;
    border-right: 1px dotted #c6c6c6;

}
#boleto-left-top, #boleto-center-top{
    height: 20px;
}
.bloco{
    display: block;
    float: left;
}
.border-right{
    border-right: 1px solid #c6c6c6
}
.border-left{
    border-left: 1px solid #c6c6c6;	
}
#boleto-center{
    float: left;
    width: 515px;
}
#boleto-left-body{
    border-top:1px solid #c6c6c6; 
}
#boleto-center-top{
    border: 1px solid #c6c6c6;
    border-top: none;
    border-right: none;
    border-left: none;
}

#boleto-center-body{
    float: left;
    width: 100%;
}
#boleto-center-body-left{
    float: left;
    width: 80%;
}
#boleto-center-body-right{
    float: left;
    width: 19.5%;	
}
.border-bottom{
    border-bottom:1px solid #c6c6c6;
}
.no-border-left{
    border-left:none!important;
}
.no-border-bottom{
    border-bottom:none!important;
}
.h10{height: 10px;}
.h13{height: 13px;}
.h14{height: 14px;}
.h15{height: 15px;}
.h16{height: 16px;}
.h17{height: 17px;}
.h18{height: 18px;}
.h19{height: 19px;}
.h20{height: 20px;}
.h21{height: 21px;}
.h22{height: 22px;}
.h25{height: 25px;}
.h30{height: 30px;}
.h77{height: 50px;}
.h40{height: 40px;}

#barcode{
    width: 666px;
    padding: 1px 0;
}
#barcode-left{
    width: 258px;
    float: left;
    border: 1px solid #FFFFFF;
}
#barcode-barcode{
    float: left;	
}
#cortar{
    margin-top: 30px;
    width: 666px;
    border-top: 1px dotted #c6c6c6;
    height: 10px;
}

@media print {
    .page-break { display: block; page-break-before: always; }
}

@media print {
    * {-webkit-print-color-adjust:exact;}
}